*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#fff;
}
li{
    list-style: none;
}
section{
    padding: 1rem;
    background-color: #fff;
}
.card-wrapper{
    margin-top: 23px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.card-1{
    width: 27%;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    box-shadow: .5rem .5rem 3rem #000;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
    
}
.card-1 .card-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);

}
.profile-image{
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -9rem;
    z-index: 999;
    border: 1px solid #ebeef8;
    background-color: rgb(37, 36, 36);
    
}
.card-1 h1{
    font-size: 2.5rem;
    color: #333;
    padding-top: 1.2rem;
}
.description{
    margin: 1rem 2.5rem;
}
.title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .6rem 0;
}
.social-media li{
    display: inline;
}
.social-media .contact-icon{
    width:80px;
    padding: 20px 20px;
    transition: all 0.4s;
}
.social-media .contact-icon:hover{
    transform: scale(1.5);
}
.card-2{
    width: 70%;
    margin: 1rem 2rem;
    margin-right: 0;
    box-shadow: .5rem .5rem 3rem #000;
    background-color: #ebeef8;
    height: 40rem;
    border: 1px solid #fff;
    border-radius: 20px;

}
.card-2 .header{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 2rem;
    height: 11rem;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    object-fit: fill;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-2 .header .heading-card-2{
    text-transform: uppercase;
    line-height: 0.7;
    letter-spacing: 1.2px;
    color: white;
    text-shadow: 4px 4px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-2-bottom{
    padding:0.9rem;
    padding-right: 0;
}
.about-head{
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
    
}
.about-head h2{
    font-weight: 350;
    letter-spacing: 1.2px;
    
}
.about-para{
    color: #666;
    letter-spacing: 0.8px;
    padding-left: 3rem;
    padding-top: 2px;
    padding-bottom: 5px;
}



@media screen and (min-width: 320px) and (max-width:1366px){
        .card-wrapper{
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .card-1{
            width: 100%;
            margin-bottom: 2rem;
        }
        .card-1 h1{
            font-size: 1.7rem;
            color: #333;
            padding-top: 1.2rem;
            
        }
        .social-media .contact-icon{
            width:70px;
            padding: 15px 18px;
        }
        .card-2{
            width: 100%;
            height: 100%;
            margin: 0;
            
        }
        .card-2 .header .heading-card-2{
            padding: 1.2rem 0;
        }
        .card-2 .header h2{
            font-size: 1rem;
        
           
        }
        .about-head{
            font-size: 13px;
            padding-left: 1rem;
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .about-para{
            color: #666;
            letter-spacing: 0.8px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 2px;
            padding-bottom: 5px;
            font-size: 13px;
        }
}
